<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWf34CixTs6-COZHZsT3JYVuumaeswGt8</string>
	<key>GCM_SENDER_ID</key>
	<string>775735976598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sy.techtoc.roboo</string>
	<key>PROJECT_ID</key>
	<string>roboo-db725</string>
	<key>STORAGE_BUCKET</key>
	<string>roboo-db725.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775735976598:ios:e2d9eac9d50ace783958b7</string>
</dict>
</plist>